<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantasy Football</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="ncaa-football-logo">
                    <img src="images/college1.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>Fantasy Football-Player Entry</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">Player Name :</label>
                                <input type="text" name="name" id="name" required/>
                            </div>
                            <div class="form-group">
                                <label for="player_age">Player age:</label>
                                <input type="text" name="player_age" id="player_age" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="team_name">Team :</label>
                            <input type="text" name="team_name" id="team_name" required/>
                        </div>
                        <div class="form-group">
                            <label for="touchdowns"> Touchdowns :</label>
                            <input type="text" name="touchdowns" id="touchdowns" required/>
                        </div>
                        <div class="form-group">
                            <label for="total_yrd">Total Yards :</label>
                            <input type="text" name="total_yrd" id="total_yrd" required/>
                        </div>
                        <div class="form-group">
                            <label for="reception">Reception :</label>
                            <input type="text" name="reception" id="reception">
                        </div>
                        <div class="form-group">
                            <label for="interception">Interceptions :</label>
                            <input type="text" name="interception" id="interception">
                        </div>
                        <div class="form-group">
                            <label for="fumble_recov">Fumble Recovery :</label>
                            <input type="text" name="fumble_recov" id="fumble_recov" required/>
                        </div>
                        <div class="form-group">
                            <label for="intercept_throw">Interceptions Thrown :</label>
                            <input type="text" name="intercept_throw" id="address" required/>
                        </div>
                        <div class="form-group">
                            <label for="tackles">Tackles :</label>
                            <input type="text" name="tackles" id="tackles" required/>
                        </div>
                        <div class="form-group">
                            <label for="pass_yrd">Passing Yards :</label>
                            <input type="text" name="pass_yrd" id="pass_yrd" required/>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Reset" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Entry" class="submit" name="submit" id="submit" />
                            <!-- SWITCH BETWEEN WINDOWS -->
                            <br> </br>
                            <input type="button" class="team_status" name="submit1" id="team_status" value="Team Status Entry" onClick="teamstatusFunction()"/> 
                             <script>
                             function teamstatusFunction() {
                             window.location.href="team_status.html";  
                             }
                             </script>
                            <input type="button" class="team_entry" name="submit2" id="team_entry" value="Team Entry" onClick="team_entryFunction()"/> 
                             <script>
                              function team_entryFunction() {
                              window.location.href="team.html";  
                              }
                             </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>