<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantasy Football</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="ncaa-football-logo">
                    <img src="images/college1.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form" action="/team_input">
                        <h2>Fantasy Football-Team Entry</h2>
                        <br>
                        <a href="CRUD_Player" class="btn btn-info" role="button">Player Edit</a>
                        <a href="CRUD_Team" class="btn btn-info" role="button">Team Edit</a>
                        <a href="CRUD_Team_Status" class="btn btn-info" role="button">Team Status Edit</a>

                       </br>
                       <br>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="team_name">Team ID :</label>
                                <input type="text" name="TEAM_ID" id="TEAM_ID" required/>
                            </div>
                            <div class="form-group">
                                <label for="coach"> Team Name :</label>
                                <input type="text" name="TEAM_NAME" id="TEAM_NAME" required/>
                            </div>
                            <div class="form-group">
                                <label for="state">Team State :</label>
                                <input type="text" name="TEAM_STATE" id="TEAM_STATE" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="conference"> Team Conference :</label>
                            <input type="text" name="TEAM_CONFERENCE" id="TEAM_CONFERENCE" required/>
                        </div>       
                        <div class="form-submit">
                            <input type="reset" value="Reset" class="submit" name="reset" id="reset" onclick="ClearFields()"/>
                            <input type="submit" value="Submit Entry" class="submit" name="submit" id="submit" onclick="ClearField()"/>

                            <!-- SWITCH BETWEEN WINDOWS -->
                            <br> </br>
                            <input type="button" class="team_entry" name="submit1" id="team_entry" value="Team Status Entry" onClick="team_entryFunction()"/> 
                            <script>
                             function team_entryFunction() {
                             window.location.href="team_status";  
                             }
                            </script>
                            
                            <input type="button" class="player_entry" name="submit2" id="player_entry" value="Player Entry" onClick="player_entryFunction()"/> 
                            <script>
                             function player_entryFunction() {
                             window.location.href="Player";  
                             }
                            </script>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>