<!doctype html>
<html lang="en">
  <head>
  	<title>List Of Teams</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch" action="/team_Table">
			<nav id="sidebar">
				<div class="p-4 pt-5">
          <h1>Football Fantasy</h1>
          <br> </br>
             <a href="#" class="img logo rounded-circle mb-11" style="background-image: url(images/fantasy_footbal.jpg);"></a>
          <br> </br>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	          </li>
	          <li>
	              <a href="team_Table">Team</a>
	          </li>
              <li>
                  <a href="team_status_Table">Team Status</a>
              </li>
              <li>
                  <a href="playerTable">Player</a>
              </li>
              <li>
                <a href="log_In" class="btn btn-info" role="button">Sign In</a>
            </li>      
          </ul>

	        <div class="footer">
            <p>Powered by: Yariq Thomans and David </p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
         
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <br>
            
            </br>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="playerTable">Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team_status_Table">Team status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team_Table">Team</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <h2 class="mb-4">Fantasy Football- Teams</h2>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Team ID</th>
                        <th>State</th>
                        <th>Name</th>
                        <th>Conference</th>
                    </tr>
                    </thead>
                    <tbody>

                       <% team.forEach(function(team){ %>
                            <tr>
                                <td><%= team.TEAM_ID %></td>
                                <td><%= team.TEAM_STATE %></td>
                                <td><%= team.TEAM_NAME %></td>
                                <td><%= team.TEAM_CONFERENCE%></td>
                            </tr>
                        <% }); %>
                    <tbody>
                </table>
            </div>
		</div>

    <script src="js/jquery.min1.js"></script>
    <script src="js/popper1.js"></script>
    <script src="js/bootstrap.min1.js"></script>
    <script src="js/main1.js"></script>
  </body>
</html>